<h1> this is show </h1>

<p>name: <%= @product.name %></p>
<p>description: <%= @product.description %></p>
<p>price: <%= @product.price %></p>
<p>created_at: <%= @product.created_at %></p>
products_path:  <%= products_path %>
<p>new_photo_path <%= new_product_path %>
